
.intro-analytics { 
    // background: $background-dark-blue;        
    padding-top: 50px;   
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: $background-dark-blue;
      clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    }  

    &::before {
      content: '';
      position: absolute;
      z-index: -1;   
      left: 0;
      right: 0;
      bottom: -17px;
      width: 100%;
      height: 100%;
      background: $pink;
      clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
    }  

}

.header {
    display: flex; 
    align-items: center;  

    nav {
      flex-grow: 1;
    }

    &__logo {
      display: flex;
      align-items: center;
      margin-right: 80px; 
      text-decoration: none; 
        img {
            margin-right: 13px;
        } 
        p {
            font-size: 20px;  
            text-transform: uppercase;
            color: #fff; 
            font-weight: 600;
        } 
      }    
    }

 .header__menu {
    &-list {
      display: flex;
    } 
    &-item {
        margin-right: 35px; 

      a {
        text-decoration: none;
      }
    }      
  }

  .header__btns { 
    z-index: 2;
    .header__btn--transparent{
        @include btn(transparent, transparent, 68px, $gray, 16px, 10px, 53px);
     } 

    .header__btn--circled {
       @include btn($light-gray, transparent, 68px, $gray, 16px, 10px, 53px);
     }
  }

  .dashboard {
    display: flex;
    padding-top: 150px;
    padding-bottom: 258px;     
  
    &__info {
      max-width: 550px;
      margin-right: 80px;
    }
  
    &__title {
      position: relative;
      font-weight: 700;
      font-size: 50px;
      line-height: 120%;
      color: #fff;
      margin-bottom: 15px;
  
      &::after {
        content: '';
        position: absolute;
        top: -450px;
        left: -280px;
        width: 700px;
        height: 700px;
        background: url('../../assets/icons/logo-light-gray-2.svg') no-repeat;
        z-index: 1;         
      }
  
      &::before {
        content: '';
        position: absolute;         
        top: -345px;   
        left: 98%;   
        width: 1000px; 
        height:   500px;
        background: url('../../assets/icons/logo-light-gray.svg') no-repeat;
        z-index: 1;         
      }
    }
  
    &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: $gray;
      margin-bottom: 50px;
    }
  
    &__btn {
      @include btn(transparent, $pink, 68px, #fff, 16px, 15px, 80px);
      transition: all 0.5s;
  
    &__pictures {
        position: relative;
        z-index: 1;

        img {
          box-shadow: 0 19px 53px -16px rgba(25, 42, 89, 0.2); 
          border-radius: 32px;
          margin-top: 50px;
        }

     } 

      &::before { 
        content: ""; 
        position: absolute; 
        top: -80px;
        left: 80px;
        background: url("../../assets/img/dashboard-big.png") no-repeat;
        @include btn($pink, transparent, 68px, #fff, 16px, 15px, 80px);  
       }
      }
    } 
    
    
  
